<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @author.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @author.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @author.address %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @author.date_of_birth %>
</p>

<div>
  <h3>List of articles:</h3>
  <p>
    <% @author.articles.order('created_at DESC').each do |article| %>
      <p><i> <%= link_to article.title, article %></i>
          <% article.tags.each do |tag| %>
            <span><%= link_to tag.name, articles_path(tag.articles) %></span>
          <% end %>
        </p>
      </p>
    <% end %>
  </p>
</div>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>
